/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* set font for all text on site */
body{
    font-family: Montserrat, sans-serif;
    background-color: #eeeeee;
}
/* control capitalization from css instead of hard coding */
h1{
    text-transform: capitalize;
}

h2{
    text-transform: capitalize;
}

main{
    background-color: #ffffff;
}

form{
    width: 66.66%;
}

ul{
    margin-left: 0;
    padding-left: 0;
}

ul li{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

/* lots of whitespace for large screens */
.container{    
    padding: 25px 100px 25px 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 15px;
}

/* override 100% width cards - set to small inline blocks add soft box shadow */
.card{
    display: inline-block;
    width: 350px;
    margin: 15px 15px 0 0;
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.4);
}

.card:hover{
    box-shadow: 8px 8px 10px rgba(0,0,0, 0.6);
}

/* float text around portrait */
.portrait{
    width: 250px;
    float: left;
    margin: 0 50px 15px 0;
}

/* add white space around p and between lines for readability */
.intro-text{
    padding: 0 50px;
    line-height: 1.8;
}

/* clear floats and add margin below */
.technologies{
    clear: both;
    margin: 15px 0 0 0;
}

/* medium screens */
@media only screen and (max-width: 768px) {
    
    /* set width to 100% for usable space on smaller screens */
    form{
        width: 100%;
    }

    .container{
        padding: 25px;
    }


}
/* small screens */
@media only screen and (max-width: 400px) {


    h1{
        text-align: center;
    }

    h2{
        text-align: center;
    }

    /* remove excess white space for small screens */
    .container{
        width: 100%;
        padding: 15px;
    }

    /* remove float and set to block for small screens */
    .portrait{
        float: none;
        display: block;
        margin: 0 auto 15px auto;
    }

    /* remove excess white space for small screens */
    .intro-text{
        padding: 0 15px;
    }

    .technologies{
        margin: 0;
    }
}

/* Custom nav coloring */

  .navbar {
    background-color: #002a3b !important;
  }
  .navbar .navbar-brand {
    color: #ecf0f1 !important;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #ffffff !important;
  }
  .navbar .navbar-text {
    color: #ecf0f1 !important;
  }
  .navbar .navbar-text a {
    color: #ffffff !important;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #ffffff !important; 
  }
  .navbar .navbar-nav .nav-link {
    color: #ecf0f1 !important;
    margin: 0 0.25em !important;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ffffff !important;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ffffff !important;
    background-color:#006E99 !important;
  }
  .navbar .navbar-toggler {
    border-color: #006E99 !important;
  }
  .navbar .navbar-toggler:hover,
  .navbar .navbar-toggler:focus {
    background-color: #006E99 !important;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    color: #ecf0f1 !important;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #ecf0f1 !important;
  }
  .navbar .navbar-link {
    color: #ecf0f1 !important;
  }
  .navbar .navbar-link:hover {
    color: #ffffff !important;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1 !important;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ffffff !important;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ffffff !important;
      background-color: #006E99 !important;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1 !important;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ffffff !important;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ffffff !important;
      background-color: #006E99 !important;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1 !important;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ffffff !important;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ffffff !important;
      background-color: #006E99 !important;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1 !important;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ffffff !important;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ffffff !important;
      background-color: #006E99 !important;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1 !important;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff !important;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #006E99 !important;
  }